{% extends "omniauth.html" %}

{% load uni_form_tags %}
{% load i18n %}

{% block auth_title %}
  {% trans 'Password reset' %}
{% endblock %}

{% block auth_heading %}
  {% if validlink %}
    {% trans 'Enter new password' %}
  {% else %}
    {% trans 'Password reset unsuccessful' %}
  {% endif %}
{% endblock %}

{% block auth_extra_head %}
  {% uni_form_setup %}
{% endblock %}

{% block auth_content %}
  {% if validlink %}
    <p>
      {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    </p>
    {% uni_form form form.helper %}
  {% else %}
    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>
  {% endif %}
{% endblock %}
