{% extends "omniauth.html" %}

{% load uni_form_tags %}
{% load i18n %}

{% comment %}
# TODO (normal): userlinks & breadcrumbs 
{% block userlinks %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% endcomment %}

{% block auth_title %}
  {% trans 'Password change' %}
{% endblock %}

{% block auth_heading %}
  {% trans 'Password change' %}
{% endblock %}

{% block auth_extra_head %}
  {% uni_form_setup %}
{% endblock %}

{% block auth_content %}
  <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% uni_form form form.helper %}
{% endblock %}
