{% extends "base.html" %}

{% block page_title %}
  {% block auth_title %}{% endblock %} | Registration
{% endblock %}

{% block heading %}
  {% block auth_heading %}{% endblock %}
{% endblock %}

{% block sub_heading %}
  {% block auth_sub_heading %}{% endblock %}
{% endblock %}

{% block extra_head %}
  {% block auth_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
  {% block auth_content %}{% endblock %}
{% endblock %}

{% block extra_body %}
  {% block auth_extra_body %}{% endblock %}
{% endblock %}

{% block footer %}
  {% block auth_footer %}{% endblock %}
{% endblock %}

{# TODO (minor): add toolbar? #}
